<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTS</title>
    <link rel="stylesheet" href="CSS/products.css">
</head>

<body>
    <div class="background">
        <div class="back-img">
            <img src="images/background.jpg" alt="Background Image">
        </div>
    </div>

    <div class="navi">
        <div class="navbar" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-img" style="display: flex; align-items: center; justify-content: center; height: 100%;">
                <a href="index">
                    <img src="images/logof.jpg" alt="logo"
                        style="max-width: 100%; height: auto; width: auto; max-height: 60px;">
                </a>
            </div>
            <div class="right">
                <ul style="list-style: none; display: flex; gap: 20px;">
                    <li><a href="/">HOME</a></li>
                    <li><a href="products" style="color:rgb(226, 183, 65)">PRODUCTS</a></li>
                    <li><a href="contact">CONTACT</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="admin">ADMIN</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="top-button">
        <a href="#">
            <div class="upward-top-button" title="Go To Top">
                <p>^</p>
            </div>
        </a>
    </div>

    <div class="main-container">
        <div class="main-section">
            <div class="heading-txt">All Products</div>
            <div class="search-result-txt">
                <p>Showing all results</p>
            </div>
            <div class="product-section">
                <% products.forEach((product, index)=> { %>
                    <% if (index % 4===0) { %>
                        <div class="product-row">
                            <% } %>

                                <div class="product-item">
                                    <img class="img1" src="./uploads/<%= product.image %>" alt="Product Image">
                                    <div class="over-txt">
                                        <p style="font-size: small;">
                                            <%= product.name %><br>
                                                Description: <%= product.description %><br>
                                                    Price: ₹<%= product.price %><br>
                                                        Type: <%= product.type %>
                                        </p>
                                    </div>
                                </div>

                                <% if ((index + 1) % 4===0 || index===products.length - 1) { %>
                        </div>
                        <% } %>
                            <% }); %>

            </div>
        </div>
    </div>

    <footer>
        <div class="foot">
            <div class="about-us">
                <div class="foot-head">ABOUT US</div>
                <div class="about-us-body">Since 1906, DIVA has been the must-read news source for savvy jewelry
                    professionals. From market analysis to emerging jewelry trends, we cover the critical business
                    topics essential to the everyday success of jewelry professionals worldwide.</div>
            </div>
            <div class="hori-line"></div>
            <div class="follow-us">
                <div class="foot-head">FOLLOW US</div>
                <div class="foot-div-body">
                    <ul style="list-style: none;">
                        <li><a href="#">SPRING COLLECTION</a></li>
                        <li><a href="#">TRENDING</a></li>
                        <li><a href="#">BEST SELLERS</a></li>
                        <li><a href="#">DISCOUNT VOUCHER</a></li>
                        <li><a href="#">NEW ARRIVAL</a></li>
                    </ul>
                </div>
            </div>
            <div class="hori-line"></div>
            <div class="whats-hot">
                <div class="foot-head">WHAT'S HOT</div>
                <div class="foot-div-body">
                    <ul style="list-style: none;">
                        <li><a href="#">SPRING COLLECTION</a></li>
                        <li><a href="#">TRENDING</a></li>
                        <li><a href="#">BEST SELLERS</a></li>
                        <li><a href="#">DISCOUNT VOUCHER</a></li>
                        <li><a href="#">NEW ARRIVAL</a></li>
                    </ul>
                </div>
            </div>
            <div class="hori-line"></div>
            <div class="company">
                <div class="foot-head">COMPANY</div>
                <div class="foot-div-body">
                    <ul style="list-style: none;">
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">CAREERS</a></li>
                        <li><a href="#">PRESS</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="copy-right-txt">
                <p>&#169; 2024 All Rights Reserved</p>
            </div>
        </div>
    </footer>
</body>

</html>